<header><%= link_to "+", new_game_path%></header>
<h1>Games!</h1>
<div class="jumbotron">
  <div class="row">
    <div class="col-sm-6 col-md-2">
      <% @games.each do |g| %>
        <div class="row">
          <div class="caption">
            <p><%= g.name%></p>
          </div>
          <div class="thumbnail">
            <%= image_tag g.image.url%>
          </div>
          <%= link_to "More Info", game_path(g)%>
          <br>
        </div>
      <% end %>
    </div>
  </div>
</div>
