<h1>Games!</h1>
<ul>
  <% @games.each do |g| %>
    <li><p><%= g.name%></p></li>
    <%= image_tag g.image.url, class: "img-responsive col-md-1"%>
    <%= link_to "More Info", game_path(g)%>
  <% end %>
</ul>

<%= link_to "+", new_game_path%>
